<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Tips</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Security Tips for SMBs</h1>
        <div class="mt-4">
            <ul>
                {% for tip in tips %}
                    <li>{{ tip }}</li>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</body>
</html>
